<% provide(:title, "All users") %>
<h1>All Users</h1>

<!-- gem for paginate, in @users controller do not use `User.all`, instead use `User.page(params[:page])` -->
<%= will_paginate @users %>
<ul class="users">
	<% @users.each do |user| %>
	<li>
		<%= gravatar_for user %>
		<%= link_to user.name, user %>
	</li>
	<% end %>
</ul>
<%= will_paginate %>
